{% extends "books/base.html" %}

{% block content %}

<h3>Всі резервації</h3>

<div id="" style="overflow:auto; height:100px;">
    {% if reservations.exists %}
        {% for reservation in reservations %}
            Книжка <a href="{% url 'book' id=reservation.book.pk %}">{{ reservation.book }}</a>
            зарезервована користувачем <a href="{% url 'user' id=reservation.reserved_by.user.pk %}">{{ reservation.reserved_by }}</a>
            {{ reservation.time }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="reserv_id" value="{{ reservation.pk }}">
                <button type="submit">Видано</button>
            </form>
        {% endfor %}
    {% else %}
        Зарезервованих книжок не знайдено
    {% endif %}
</div>

{% if success != None %}
    {% if success == True %}
        Успішно
    {% endif %}
{% endif %}

{% endblock %}