{% extends "base.html" %}

{% block content %}

<h3>Всі взяті книжки</h3>

{% if takings.exists %}
    <div class="card-deck">
    {% for taking in takings %}
        <div class="card" style="min-width: 18rem;">
            <div class="card-header text-center"><a href="{% url 'book' id=taking.book.pk %}">{{ taking.book }}</a></div>
            <div class="card-body text-center">
                Взята користувачем<br>
                <a href="{% url 'user' id=taking.taken_by.user.pk %}">{{ taking.taken_by }}</a><br>
                {{ taking.time }}
            </div>
            <div class="card-footer text-center">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="taken_id" value="{{ taking.pk }}">
                    <button type="submit" class="btn btn-success">Отримано</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    Взятих книжок не знайдено
{% endif %}

{% if success != None %}
    {% if success == True %}
        Успішно
    {% endif %}
{% endif %}

{% endblock %}