{% load static %}
<html>
    <head>
        {% block title %}<title>Page</title>{% endblock %}
        <link rel="stylesheet" href="{% static 'books/base.css' %}">
    </head>
    <!-- Side navigation -->
    <body>
    <div class="sidenav">
            {% if curr_user == None %}
            <button onclick="location.href='{% url 'login' %}';" href="">Вхід</button>
            {% else %}
            Вітаю, <a href="{% url 'user' id=curr_user.pk %}">{{ curr_user.first_name }}</a>!<br>
            <button onclick="location.href='{% url 'logout' %}';" href="">Вийти</button>
            {% endif %}
        </div>
    
        <!-- Page content -->
        <div class="main">
            <h1><a href="/">Бібліотека факультету КНК</a></h1>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>