{% extends "base.html" %}

{% block content %}

{% include 'form.html' %}

{% if book.digital %}
    <a class="btn btn-info" href="{{ book.digital.url }}">Електронний примірник</a><br>
{% endif %}
<a class="btn btn-info" href="{% url 'book_digital' id=book.pk %}">Завантажити/змінити примірник</a>

<h4>Резервації цієї книжки</h4>

{% if book.reservations.exists %}
    <div class="card-deck">
    {% for reservation in book.reservations.all %}
        <div class="card" style="min-width: 18rem;">
            <div class="card-header text-center"><a href="{% url 'book' id=reservation.book.pk %}">{{ reservation.book }}</a></div>
            <div class="card-body text-center">
                Зарезервована користувачем<br>
                <a href="{% url 'user' id=reservation.reserved_by.user.pk %}">{{ reservation.reserved_by }}</a><br>
                {{ reservation.time }}
            </div>
            <div class="card-footer text-center">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="reserv_id" value="{{ reservation.pk }}">
                    <button type="submit" class="btn btn-success">Видано</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    Резервацій не знайдено
{% endif %}

<h4>Книжка взята</h4>

{% if book.takings.exists %}
    <div class="card-deck">
    {% for taking in book.takings.all %}
        <div class="card" style="min-width: 18rem;">
            <div class="card-header text-center"><a href="{% url 'book' id=taking.book.pk %}">{{ taking.book }}</a></div>
            <div class="card-body text-center">
                Взята користувачем<br>
                <a href="{% url 'user' id=taking.taken_by.user.pk %}">{{ taking.taken_by }}</a><br>
                {{ taking.time }}
            </div>
            <div class="card-footer text-center">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="taken_id" value="{{ taking.pk }}">
                    <button type="submit" class="btn btn-success">Отримано</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    Книжка ні ким не взята
{% endif %}

{% if success != None %}
    {% if success == True %}
        Зміни прийняті успішно
    {% else %}
        При зміні сталась помилка
    {% endif %}
{% endif %}

{% endblock %}