{% extends "base.html" %}

{% block content %}
<br>
<h3 class="text-center text-info">{{ book.title }}</h3>

<div class="container">
    <p class="text-primary">Автори: {{ book.authors }}</p>
    <p>Видавництво: {{ book.publisher }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p class="text-success">Ключові слова: {{ book.tags }}</p>
    <p class="bg-light">Опис: {{ book.description }}</p>
    <p>Доступно екземплярів: {{ book.copies_available }}</p>
</div>

{% if is_auth %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Зробити резервацію</button>
    </form>

    {% if success != None %}
        {% if success == True %}
            Успішно
        {% else %}
            Ви досягли ліміту або резервація не доступна
        {% endif %}
    {% endif %}
{% endif %}
<br>
{% if book.digital %}
    <a href="{{ book.digital.url }}" class="btn btn-info">Електронний примірник</a>
{% endif %}

{% endblock %}