{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="text-center">
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Ввід">
    </div>
</form>

{% if success != None %}
    {% if success == True %}
        Завантаження успішне
    {% else %}
        При завантаженні сталась помилка
    {% endif %}
{% endif %}

<br><a class="btn btn-info" href="..">Назад</a>

{% endblock %}