{% extends "base.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    <button type="submit">Ввід</button>
</form>

{% if success != None %}
    {% if success == True %}
        Завантаження успішне
    {% else %}
        При завантаженні сталась помилка
    {% endif %}
{% endif %}

<br><a href="..">Назад</a>

{% endblock %}